In [4]:
# Reversing a String
def reverse_string(word):
  return word[::-1]

reverse_string("Ayomide")

'edimoyA'

In [6]:
# Palindrome
def is_palindrome(pal):
  return pal == pal[::-1]

is_palindrome("madam")

True

In [7]:
# Factorial of a number
def factorial(num):
  if num == 0 or num == 1:
    return 1
  else:
    return num * factorial(num - 1)

factorial(5)

120

In [10]:
# Count occurence of an Element in a List using dictionary
from collections import Counter
def occurence(lst):
  return dict(Counter(lst))

occurence([1,2,3,4,2,3,4,5,6])

{1: 1, 2: 2, 3: 2, 4: 2, 5: 1, 6: 1}

In [11]:
# Find the second largest number in a list
def second_largest(lst):
  lst.sort()
  return lst[-2]

second_largest([1,2,3,4,5,6])

5

In [12]:
def second_largest_num(nums):
    first, second = float('-inf'), float('-inf')
    for num in nums:
        if num > first:
            second = first
            first = num
        elif num > second and num != first:
            second = num
    return second

second_largest_num([1,2,3,4,5,6])

5

In [13]:
# Merging two sorted list
def merge_list(lst1, lst2):
  return sorted(lst1 + lst2)

merge_list([1,3,5,7], [2,4,6,8])

[1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
# The Fibonacci Challenge
def fibonacci(n):
  if n == 0:
    return 0
  elif n == 1:
    return 1
  else:
    return fibonacci(n - 1) + fibonacci(n - 2)

fibonacci(8)

21

In [16]:
# The FizzBuzz Challenge
def fizzbuzz(num):
  for val in range(1, num+1):
    if val % 3 == 0 and val % 5 == 0:
      print("FizzBuzz")
    elif val % 3 == 0:
      print("Fizz")
    elif val % 5 == 0:
      print("Buzz")
    else:
      print(val)

fizzbuzz(12)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz

In [17]:
# Finding duplicates in an array
def find_duplicates(nums):
  seen = set()
  duplicates = set()
  for num in nums:
    if num in seen:
      duplicates.add(num)
    else:
      seen.add(num)
  return list(duplicates)


find_duplicates([1,2,3,4,2,3,4,5,6])

[2, 3, 4]

In [18]:
def find_duplicates_values(array):
    return [item for item in set(array) if array.count(item) > 1]

find_duplicates_values([1,2,3,4,2,3,4,5,6])

[2, 3, 4]

In [23]:
# Load and describe dataset
import pandas as pd

def load_dataset(path):
  df = pd.read_csv(path)
  return df.describe()

load_dataset("sample_data/mnist_test.csv")

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
count,9999.000000,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,...,9999.000000,9999.000000,9999.000000,9999.000000,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0
mean,4.443144,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.179318,0.163616,0.052605,0.000600,0.0,0.0,0.0,0.0,0.0,0.0
std,2.895897,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.674433,5.736359,2.420125,0.060003,0.0,0.0,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
75%,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,253.000000,253.000000,156.000000,6.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Filtering data
def filter_data(df, column, threshold):
    return df[df[column] > threshold]

In [1]:
# Training a simple Linear Regression Model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

def linear_regression_model(X, y):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    model = LinearRegression()
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    return mean_squared_error(y_test, y_pred)

In [2]:
# Calculating the mean squared error
def mean_squared_error(y_true, y_pred):
    return sum((y_true[i] - y_pred[i])**2 for i in range(len(y_true))) / len(y_true)

In [3]:
# Calculating the mean and the standard error in a dataset
import numpy as np

def mean_std_calculator(data):
  return np.mean(data), np.std(data)

In [4]:
# Handling missing values in a dataset
import pandas as pd

def handle_missing_values(df):
  return df.fillna(df.mean())

In [ ]:
# Group by and Aggregate Function
def group_and_aggregate(df, group_column, agg_column, agg_func='sum'):
    return df.groupby(group_column)[agg_column].agg(agg_func)